* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightseagreen;
}

img {
  width: 100px;
  height: 100px;
}

.hidden {
  display: none;
}

li {
  list-style: none;
}

.container {
  border: 3px solid red;
  margin: 5px;
  background-color: rgb(212, 171, 99);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Menu */
.menu-icon {
  margin: 10px;
  width: 40px;
  height: 40px;
}

.menu-bar {
  border: 3px solid black;
  background-color: bisque;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bottom-menu {
  border: 2px solid black;
  background-color: black;
  padding: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.bottom-items {
  color: white;
  display: flex;
  justify-content: space-around;
}

.list-item {
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  background-color: rgb(169, 147, 177);
  width: 120px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 4px;
}
